* {
    margin: 0;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


/* Universales (iconos, enlaces, etc */

object {
    height: 12px;
    width: 12px;
}

a {
    color: #0061A3;
    text-decoration: none !important;
}

a:hover {
    color: #ffe600;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Fin universales (iconos, enlaces, etc */

.header {
    display: flex;
    flex-direction: column;
    >.navbar1 {
        background: #0089df;
        height: 50px;
        >.container {
            margin-left: 10%;
            display: flex;
            >a {
                justify-content: center;
                height: 60px;
                padding: 15px;
                color: black;
                background: #ffe600;
            }
            >.nombreusuario {
                padding-top: 6px;
                color: white;
                margin-right: 8%;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
            }
        }
    }
    >.navbar2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5px;
        margin-bottom: 15px;
        background: white;
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #A7A7A7;
        >.imagen {
            margin-top: 5px;
            >a {
                >img {
                    padding-left: 7px;
                    height: 7vh;
                    min-height: 50px;
                    max-height: 60px;
                }
            }
        }
        >.opciones {
            margin-left: auto;
            >ul {
                list-style: none;
                text-align: left;
                >li {
                    font-size: 20px;
                    display: inline-block;
                    margin-right: 10px;
                    margin-left: 10px;
                    >.dropdown {
                        position: relative;
                        display: inline-block;
                        >.dropdown-content {
                            left: -85%;
                            min-width: 240px;
                            border: #cbcbcb;
                            border-style: solid;
                            border-width: 1px;
                            display: none;
                            position: absolute;
                            background-color: white;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            >a {
                                border-bottom: #cbcbcb;
                                border-bottom-width: 1px;
                                border-bottom-style: solid;
                                padding: 10px;
                                padding-top: 7px;
                                padding-bottom: 7px;
                                display: block;
                                font-size: 14px;
                                color: #876F86;
                            }
                            >a:hover {
                                background-color: #ffe600;
                                color: black;
                            }
                            >#ultimo {
                                border-bottom-width: 0px;
                            }
                        }
                    }
                    >.dropdown:hover {
                        .dropdown-content {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #0089df;
    margin-top: auto;
    >.columna {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        >.titulo-columna {
            font-size: 17px;
            color: white;
            padding-bottom: 15px;
        }
        >.lista-columna {
            padding-left: 0px;
            list-style: none;
            margin-top: 5px;
            margin-bottom: 5px;
            >li {
                padding-bottom: 7px;
                >a {
                    color: white;
                }
                >a:hover {
                    color: #ffe600;
                }
            }
        }
    }
}

.cuerpo {
    display: flex;
    margin-bottom: 20px;
    width: auto;
    >.menu {
        min-width: 10vw;
        padding-left: 20px;
        padding-right: 20px;
        >ul {
            >li {
                font-size: 15px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    >.contenido {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        >#tablasolicitudes {
            font-size: 13px;
        }
        >#titulomanuales {
            margin-left: 32.5%;
            margin-top: 70px;
        }
        >.ayuda {
            width: 100%;
            display: flex;
            >ul {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 30%;
                margin-right: auto;
                >.ayudaitem {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    display: flex;
                    >button {
                        margin-left: 10px;
                        >a {
                            color: black;
                        }
                    }
                    >p {
                        margin-top: auto;
                        margin-bottom: auto;
                        width: 200px;
                    }
                }
            }
        }
    }
}

#botonessolicitud {
    display: flex;
    >a {
        width: 100%;
        height: 100%;
        margin-right: 5px;
        margin-left: 5px;
    }
}

#botonessolicitudgestionada {
    display: flex;
    >button {
        color: black;
        width: 100%;
        height: 100%;
        margin-right: 5px;
        margin-left: 5px;
    }
}

.botonestablafuncionarios {
    display: flex;
}

.botonesformulario {
    display: flex;
    >.dropdown-center {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.herramientasarriba {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
    >.buscador {
        width: 25%;
        margin-right: 5px;
    }
    >.exportar {
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: 0;
    }
}

#titulotabla {
    text-align: center;
    color: black;
}

.tabla {
    margin-top: 15px;
}

#filtroinasistencias {
    margin-left: 30px;
}

.contenedorgraficos {
    display: flex !important;
    width: 100%;
    height: 100%;
}

#graficocantidadsolicitudes {
    width: 50%;
}

#graficocantidadsolicitudespormotivo {
    width: 50%;
}

#graficoatrasossegunobservacion {
    width: 40%;
}

#tablatopatrasos {
    margin-left: 2%;
    margin-right: 2%;
    width: 56%;
    max-height: 400px;
}

#tablatopjustificaciones {
    width: 100%;
}

#escudoescuelas {
    height: 70px;
    width: 100%;
    object-fit: contain;
}